body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #e7e5e5;
    margin: 0;
    padding: 0;
    height: 300px;
    transition: all 0.4s;
}
h1, p{
    color: aliceblue;
}
.constiner{
    background-color: #2883fb;
    height: 60px;
}
.question-mark__bacraunt{
    display: flex;
    gap: 40px;
    margin-left: 150vh;
    margin-top: 1px;
    position: relative;
    bottom: 50px;
}
.question-mark__bacraunt > img:hover {
    background-color: rgb(169, 172, 174);
    border-radius: 5px;
    cursor: pointer;
}
.question-mark__bacraunt button{
    width: 70px;
    border: 2px solid #2883fb;
    background-color: aliceblue;
    color: #2883fb;
    border-radius: 20px;
    cursor: pointer;
}
.question-mark__bacraunt button:hover{
    border: 2px solid #fefefe;
    background-color: #2883fb;
    color: #a9c6ec;
}
.Quit{
    margin-left: 40px;
    display: flex;
}
.Quit > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.map > iframe {
   margin-left: 90vh;
   border-radius: 20px;
   border: none;
}
.box-1-tikets > img{
    border-radius: 10px;
}
.box-1-tikets-text >p {
    color: black;
}
.box-1-tikets{
    background-color: #fefefe;
    width: 100px;
    height: 50px;
}